# installation dir
cocoapi
Cytomine-Python-Client-2.5.1

# project dir
datasets
# applications/detectron2/data
applications/detection2/configs


# output dir
output
applications/detectron2/*output*

# debug or local
applications/detectron2/*debug*
applications/detectron2/local
applications/pytorch

*.jpg
*.png
*.txt
*.json
*.diff

# compilation and distribution
__pycache__

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode

